<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>EDIT PRODUK</title>
</head>

<body>

    <h1 style="text-align:center">EDIT PRODUK</h1>
    <div class="container">
        <form class="form-inline form-group" action="/update" method="POST">
            <input class="form-control" name="id" value="{{results.id}}" type="hidden">
            <input class="form-control" name="nama_produk" value="{{results.nama_produk}}">
            <input class="form-control" name="jumlah" value="{{results.jumlah}}">
            <input class="form-control" name="harga" value="{{results.harga}}">
            <input class="form-control" name="keterangan" value="{{results.keterangan}}">
            <input class="btn btn-success" type="submit">
        </form>
    </div>
</body>

</html>